.bearcard-container {
    width: 300px;
    border-radius: 4px;
    box-shadow: 0 0 6px 0 rgba(0,0,0,.15);
    overflow: hidden;
}

.bearcard {
  height: 320px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  position: relative;
}

.bearcard-name {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;

    text-align: center;
    padding: 4px;
    margin: 0;
    background-color: rgba(0,0,0,.60);
    color: white;
    font-weight: bold;
}
.bearcard-sid {
    position: absolute;
    top: 250px;

    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: 4px;
    font-weight: bold;
    background-color: rgba(0,0,0,0.60);
    color: rgb(255 , 255, 255);
}

.bearcard-weight {
    position: absolute;
    top: 8px;
    right: 8px;
    margin: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    padding: 4px;
    font-weight: bold;
    background-color: rgba(255,255,255,.60);
    color: rgb(252, 164, 0);
}
.bearcard-height {
    position: absolute;
    top: 40px;
    right: 8px;
    margin: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    padding: 4px;
    font-weight: bold;
    background-color: rgba(255,255,255,.60);
    color: rgb(252, 164, 0);
}
.bearcard-level {
    position: absolute;
    top: 72px;
    right: 8px;
    margin: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    padding: 4px;
    font-weight: bold;
    background-color: rgba(255,255,255,.60);
    color: rgb(252, 164, 0);
}

.bearcard-actions {
    background-color: white;
    display: flex;
}

.bearcard-actions > div {
    flex: 1;
    padding: 4px;
    text-align: center;
    font-size: .8em;
    cursor: pointer;
    transition: background-color .2s ease-in;
}

.bearcard-actions > div:hover {
    background-color: rgb(255, 220, 154);
}